
.jumbotron{
    background-color: rgb(170, 255, 227);
    font-size: 38px;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    padding-top: 10px ;
    padding-bottom: 10px ;
    margin-bottom: 0;
}




